<div class="flex mx-auto">
  <app-navbar class="w-1/6"></app-navbar>
  <div class="overflow-y-auto max-h-screen w-full">
    <main class="main-content w-2/3 p-4 ml-40 flex flex-col">
      <button (click)="goHome()" class="home-button absolute text-ColorNav text-xl top-4 right-7">
        <i class="fa-solid fa-house"></i>
      </button>
  
      <div class="text-center">
        <h1 class="text-3xl font-bold text-ColorNav">Paises</h1>
        <p class="text-gray-400">Indicativos y Codigo para referenciar los paises y la procedencia del suscriptor</p>
      </div>
        <table class="w-full border border-gray-300 ">
          <thead>
            <tr class="bg-slate-300 text-ColorNav">
              <th class="py-2 px-4">ID</th>
              <th class="py-2 px-4">Nombre</th>
              <th class="py-2 px-4">Código de Marcación</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let country of countries" class="border-b border-gray-300 text-center">
              <td class="py-2 px-4">{{ country.Code }}</td>
              <td class="py-2 px-4">{{ country.Name }}</td>
              <td class="py-2 px-4">{{ country.PhoneCode }}</td>
            </tr>
          </tbody>
        </table>
      </main>
  </div>
</div>
