<div class="flex">
  <app-navbar class="w-1/6"></app-navbar>
  <main class="main-content w-2/3 p-4 ml-12 flex flex-col">
    <h2 class="text-2xl font-bold mb-4">
      {{ "Lista de suscriptores" }}
    </h2>
    <table class="border-collapse w-full">
      <thead>
        <tr>
          <th class="border px-4 py-2">ID</th>
          <th class="border px-4 py-2">Nombre</th>
          <th class="border px-4 py-2">Email</th>
          <th class="border px-4 py-2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subscriber of subscriberDetails" class="border">
          <td class="border px-4 py-2">{{ subscriber.Id }}</td>
          <td class="border px-4 py-2">{{ subscriber.Name }}</td>
          <td class="border px-4 py-2">{{ subscriber.Email }}</td>
          <td class="border px-4 py-2">
            <button (click)="openModal(subscriber)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ver detalles</button>
            <span class="mx-2">|</span>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Actualizar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="selectedSubscriber" class="mt-4">
      <h2 class="text-2xl font-bold">
        Detalles del Suscriptor: {{ selectedSubscriber.Id }}
      </h2>
      <div class="mt-2">
        <p>Nombre del suscriptor: {{ selectedSubscriber.Name }}</p>
        <p>Area: {{ selectedSubscriber.Area }}</p>
        <p>País: {{ selectedSubscriber.CountryName }}</p>
        <p>Correo electrónico: {{ selectedSubscriber.Email }}</p>
        <p>Número telefónico: {{ selectedSubscriber.PhoneCodeAndNumber }}</p>
        <p>Estado de Suscripción: {{ selectedSubscriber.SubscriptionStateSubscriptionStateDescription }}</p>
      </div>
      <button (click)="closeModal()" class="mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Actualizar</button>
    </div>

    <!-- Modal -->
    <div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
      <div class="bg-white p-4 rounded">
        <h2 class="text-2xl font-bold">
          Detalles del Suscriptor: {{ selectedSubscriber.Id }}
        </h2>
        <div class="mt-2">
          <p>Nombre del suscriptor: {{ selectedSubscriber.Name }}</p>
          <p>Area: {{ selectedSubscriber.Area }}</p>
          <p>País: {{ selectedSubscriber.CountryName }}</p>
          <p>Correo electrónico: {{ selectedSubscriber.Email }}</p>
          <p>Número telefónico: {{ selectedSubscriber.PhoneCodeAndNumber }}</p>
          <p>Estado de Suscripción: {{ selectedSubscriber.SubscriptionStateSubscriptionStateDescription }}</p>
        </div>
        <button (click)="closeModal()" class="mt-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Cerrar</button>
      </div>
    </div>
  </main>
</div>

