<div class="flex mx-auto">
  <app-navbar class="w-1/6"></app-navbar>
  <div class="overflow-y-auto max-h-screen w-full">
    <main class="main-content w-2/3 p-4 ml-48 flex flex-col">
      <h2 class="text-2xl text-center font-bold mb-4 text-ColorNav">
        {{ "Lista de suscriptores" }}
      </h2>
      <table class="border-collapse w-full">
        <thead>
          <tr class="bg-slate-300 text-ColorNav">
            <th class="border px-4 py-2">ID</th>
            <th class="border px-4 py-2">Nombre</th>
          <th class="border px-4 py-2">Email</th>
          <th class="border px-4 py-2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subscriber of subscribers" class="border hover:bg-slate-200">
          <td class="border px-4 py-2 hover:text-ColorHover">{{ subscriber.Id }}</td>
          <td class="border px-4 py-2">{{ subscriber.Name }}</td>
          <td class="border px-4 py-2">{{ subscriber.Email }}</td>
          <td class="border px-4 py-2 text-center">
            <button (click)="openModal(subscriber)" class="py-2 px-4 font-bold hover:text-ColorHover">
              <i class="fa-regular fa-eye"></i>
            </button>
            <span class="mx-2">|</span>
            <a (click)="getUpdatedSubscribers(subscriber.Id)" class="hover:text-ColorHover inline-block py-2 px-4">
              <i class="fa-solid fa-pen"></i>
            </a>
            <span class="mx-2">|</span>
            <button (click)="Modaldelete(subscriber.Id)" class="py-2 px-4 font-bold hover:text-ColorNav">
              <i class="fa-solid fa-x"></i>
            </button>            
          </td>
        </tr>
      </tbody>
    </table>
        <div *ngIf="isModalDeleteOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
          <div class="bg-white p-8 rounded mx-8">
            <p class="text-center">¿Estás seguro/a de que deseas eliminar este suscriptor {{ selectedSubscriberId }}?</p>
            <div class="flex justify-between mt-4">
              <button (click)="deleteSubscriber(selectedSubscriberId)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Sí</button>
              <button (click)="closeModaldel()" class="bg-ColorHover hover:bg-ColorNav text-white font-bold py-2 px-4 rounded">No</button>
            </div>
          </div>
        </div>

        <div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
          <div class="bg-white p-8 rounded mx-8">
            <h2 class="text-2xl text-center font-bold text-ColorNav">
              Detalles del Suscriptor: {{ selectedSubscriber.Id }}
            </h2>
            <div class="mt-2">
              <p><b>Nombre del suscriptor:</b> {{ selectedSubscriber.Name }}</p>
              <p><b>Area:</b> {{ selectedSubscriber.Area }}</p>
              <p><b>Pais:</b> {{ selectedSubscriber.CountryName }}</p>
              <p><b>Correo electrónico:</b> {{ selectedSubscriber.Email }}</p>
              <p><b>Número telefónico:</b> {{ selectedSubscriber.PhoneCodeAndNumber }}</p>
              <p><b>Estado de Suscripción:</b> {{ selectedSubscriber.SubscriptionStateSubscriptionStateDescription ? selectedSubscriber.SubscriptionStateSubscriptionStateDescription : 'Por Definir' }}</p>
            </div>
            <button (click)="closeModal()" class="mt-4 bg-ColorHover hover:bg-ColorNav text-white font-bold py-2 px-4 rounded">Cerrar</button>
          </div>
        </div>
  </main>
</div>
</div>

