<div class="flex">
  <app-navbar class="w-1/6"></app-navbar>
  <main class="main-content w-2/3 p-4 ml-12 flex flex-col">
    <button class="home-button absolute text-ColorNav text-xl top-4 right-4">
      <i class="fa-solid fa-house"></i>
    </button>

    <div class="text-center">
      <h1 class="text-3xl font-bold text-ColorNav">Crear Suscriptor</h1>
      <p class="text-gray-400">Llena el formulario para crear un nuevo suscriptor</p>
    </div>

    <form [formGroup]="subscriberForm" (ngSubmit)="onSubmit()" class="mt-4">
      <div class="mb-4">
        <label for="nombre" class="block">Nombre:</label>
        <input
          type="text"
          id="nombre"
          formControlName="nombre"
          required
          class="w-full border border-gray-300 rounded px-4 py-2"
          (blur)="subscriberForm.get('nombre')?.markAsTouched()"
        />
        <div
          *ngIf="subscriberForm?.get('nombre')?.invalid && (subscriberForm.get('nombre')?.touched || submitted)"
          class="text-red-500"
        >
          Este campo es obligatorio
        </div>
      </div>
      
      <div class="mb-4">
        <label for="email" class="block">Email:</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          required
          class="w-full border border-gray-300 rounded px-4 py-2"
          (blur)="subscriberForm.get('email')?.markAsTouched()"
        />
        <div
          *ngIf="subscriberForm?.get('email')?.errors?.['required'] && (subscriberForm.get('email')?.touched || submitted)"
          class="text-red-500"
        >
          Este campo es obligatorio
        </div>
        <div
          *ngIf="subscriberForm?.get('email')?.errors?.['email'] && (subscriberForm.get('email')?.touched || submitted)"
          class="text-red-500"
        >
          El formato de email no es válido
        </div>
      </div>
      
      <div class="mb-4">
        <label for="phoneNumber" class="block">Número de teléfono:</label>
        <input
          type="text"
          id="phoneNumber"
          formControlName="phoneNumber"
          required
          class="w-full border border-gray-300 rounded px-4 py-2"
          (blur)="subscriberForm.get('phoneNumber')?.markAsTouched()"
        />
        <div
          *ngIf="subscriberForm.get('phoneNumber')?.errors?.['required'] && (subscriberForm.get('phoneNumber')?.touched || submitted)"
          class="text-red-500"
        >
          Este campo es obligatorio
        </div>
      </div>
      

      <div class="mb-4">
        <label for="country" class="block">País:</label>
        <input
          type="text"
          id="country"
          formControlName="country"
          required
          class="w-full border border-gray-300 rounded px-4 py-2"
          (blur)="subscriberForm.get('country')?.markAsTouched()"
        />
        <div
          *ngIf="
            subscriberForm?.get('country') &&
            subscriberForm.get('country')!.invalid &&
            (subscriberForm.get('country')!.touched || submitted)
          "
          class="text-red-500"
        >
          Este campo es obligatorio
        </div>
      </div>

      <div class="mb-4">
        <label for="jobTitle" class="block">Título del trabajo:</label>
        <input
          type="text"
          id="jobTitle"
          formControlName="jobTitle"
          class="w-full border border-gray-300 rounded px-4 py-2"
        />
      </div>

      <div class="mb-4">
        <label for="area" class="block">Área:</label>
        <input
          type="text"
          id="area"
          formControlName="area"
          class="w-full border border-gray-300 rounded px-4 py-2"
        />
      </div>

      <div class="mb-4">
        <label for="topics" class="block">Temas:</label>
        <input
          type="text"
          id="topics"
          formControlName="topics"
          class="w-full border border-gray-300 rounded px-4 py-2"
        />
      </div>

      <button
        type="submit"
        [disabled]="subscriberForm.invalid"
        class="bg-ColorHover hover:bg-ColorNav text-white font-bold py-2 px-4 rounded"
      >
        Crear suscriptor
      </button>
    </form>
  </main>
</div>
