<div class="flex">
  <app-navbar class="w-1/6"></app-navbar>
  <main class="main-content w-2/3 p-4 ml-12 flex flex-col">
    <button (click)="goHome()" class="home-button absolute text-ColorNav text-xl top-4 right-4">
      <i class="fa-solid fa-house"></i>
    </button>

    <div class="text-center">
      <h1 class="text-3xl font-bold text-ColorNav">Crear Suscriptor</h1>
      <p class="text-gray-400">Llena el formulario para crear un nuevo suscriptor</p>
    </div>

    <form [formGroup]="subscriberForm" (ngSubmit)="onSubmit()" class="mt-4">
      <div class="mb-4">
        <label for="Name" class="block">Nombre: </label>
        <input
          type="text"
          id="Name"
          formControlName="Name"
          placeholder="Nombre"
          required
          class="w-full border border-gray-300 rounded px-4 py-2"
          (blur)="subscriberForm.get('Name')?.markAsTouched()"
        />
        <div
          *ngIf="subscriberForm?.get('Name')?.invalid && (subscriberForm.get('Name')?.touched || submitted)"
          class="text-red-500"
        >
          Este campo es obligatorio
        </div>
      </div>
      
      <div class="mb-4">
        <label for="Email" class="block">Email:</label>
        <input
          type="Email"
          id="Email"
          formControlName="Email"
          placeholder="example@gmail.com"
          required
          class="w-full border border-gray-300 rounded px-4 py-2"
          (blur)="subscriberForm.get('Email')?.markAsTouched()"
        />
        <div
          *ngIf="subscriberForm?.get('Email')?.errors?.['required'] && (subscriberForm.get('Email')?.touched || submitted)"
          class="text-red-500"
        >
          Este campo es obligatorio
        </div>
        <div
          *ngIf="subscriberForm?.get('Email')?.errors?.['Email'] && (subscriberForm.get('Email')?.touched || submitted)"
          class="text-red-500"
        >
          El formato de email no es válido
        </div>
      </div>
      
      <div class="mb-4">
        <label for="PhoneNumber" class="block">Número de teléfono:</label>
        <input
          type="text"
          id="PhoneNumber"
          formControlName="PhoneNumber"
          placeholder="31# ### ####"
          required
          class="w-full border border-gray-300 rounded px-4 py-2"
          (blur)="subscriberForm.get('PhoneNumber')?.markAsTouched()"
        />
        <div
          *ngIf="subscriberForm.get('PhoneNumber')?.errors?.['required'] && (subscriberForm.get('PhoneNumber')?.touched || submitted)"
          class="text-red-500"
        >
          Este campo es obligatorio
        </div>
      </div>
      
      <div class="mb-4">
        <label for="CountryCode" class="block">Codigo del pais:</label>
        <input
          type="text"
          id="CountryCode"
          formControlName="CountryCode"
          placeholder="siglas del pais"
          required
          class="w-full border border-gray-300 rounded px-4 py-2"
          (blur)="subscriberForm.get('CountryCode')?.markAsTouched()"
        />
        <div
          *ngIf="
            subscriberForm?.get('CountryCode') &&
            subscriberForm.get('CountryCode')!.invalid &&
            (subscriberForm.get('CountryCode')!.touched || submitted)
          "
          class="text-red-500"
        >
          Este campo es obligatorio
        </div>
      </div>

      <div class="mb-4">
        <label for="Country" class="block">País:</label>
        <input
          type="text"
          id="Country"
          formControlName="Country"
          placeholder="Argentina"
          required
          class="w-full border border-gray-300 rounded px-4 py-2"
          (blur)="subscriberForm.get('Country')?.markAsTouched()"
        />
        <div
          *ngIf="
            subscriberForm?.get('Country') &&
            subscriberForm.get('Country')!.invalid &&
            (subscriberForm.get('Country')!.touched || submitted)
          "
          class="text-red-500"
        >
          Este campo es obligatorio
        </div>
      </div>

      <div class="mb-4">
        <label for="JobTitle" class="block">Título del trabajo:</label>
        <input
          type="text"
          id="JobTitle"
          formControlName="JobTitle"
          placeholder="Ingeniero"
          class="w-full border border-gray-300 rounded px-4 py-2"
        />
      </div>

      <div class="mb-4">
        <label for="Area" class="block">Área:</label>
        <input
          type="text"
          id="Area"
          formControlName="Area"
          placeholder="desarrollo"
          class="w-full border border-gray-300 rounded px-4 py-2"
        />
      </div>

      <div class="mb-4">
        <label for="Topics" class="block">Temas:</label>
        <input
          type="text"
          id="Topics"
          formControlName="Topics"
          placeholder="Frontend - Backend - Fullstack"
          class="w-full border border-gray-300 rounded px-4 py-2"
        />
      </div>

      <button
        type="submit"
        [disabled]="subscriberForm.invalid"
        class="bg-ColorHover hover:bg-ColorNav text-white font-bold py-2 px-4 rounded"
      >
        Crear suscriptor
      </button>
    </form>
  </main>
</div>
